<a href="https://colab.research.google.com/github/xkaycc/SALES-PREDICTION/blob/main/Copy_of_Abalone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
`import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/data.csv')

In [ ]:
df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             4177 non-null   object
 1   length          4177 non-null   float64
 2   diameter        4177 non-null   float64
 3   height          4177 non-null   float64
 4   whole_weight    4177 non-null   float64
 5   shucked_weight  4177 non-null   float64
 6   viscera_weight  4177 non-null   float64
 7   shell_weight    4177 non-null   float64
 8   rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [ ]:
#Assign target column to y
y = df['rings']
#Assign the feature column to X
X = df.drop (columns = 'rings')

In [ ]:
# Import the TTS from sklearn
from sklearn.model_selection import train_test_split
# Train test split 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
from sklearn.compose import make_column_selector
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [ ]:
#instantiate scaler
scaler = StandardScaler()
#instantiate encoder
Ohe = OneHotEncoder(handle_unknown= 'ignore', sparse = False)

In [ ]:
#differentiate catagorical from numeric variable
num_selector = make_column_selector(dtype_include= "number")
cat_selector = make_column_selector(dtype_exclude = "object")

In [ ]:

scaler_num = (scaler, num_selector)
cat_Ohe = ( Ohe, cat_selector)

# Transformer

In [ ]:
column_Transformer = make_column_transformer( scaler_num, cat_Ohe,)

In [ ]:
column_Transformer.fit(X_train)

ColumnTransformer(transformers=[('standardscaler', StandardScaler(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7fec99b32340>),
                                ('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore',
                                               sparse=False),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7fec99b32f10>)])

In [ ]:
col_trans_train = column_Transformer.transform(X_train)
col_trans_test = column_Transformer.transform(X_test)

In [ ]:
print (col_trans_train, "Training transformed data" '\n')
print (col_trans_test, "Testing transformed data")

[[ 0.74929076  0.46422584 -0.11886923 ...  0.          0.
   0.        ]
 [-0.09025371 -0.14465442 -0.0016468  ...  0.          0.
   0.        ]
 [ 1.12708577  1.22532616  0.81891021 ...  0.          0.
   0.        ]
 ...
 [-0.13223093 -0.14465442 -0.35331409 ...  0.          0.
   0.        ]
 [ 0.41347297  0.56570588 -0.47053652 ...  0.          0.
   0.        ]
 [ 0.58138187  0.66718592  0.46724292 ...  0.          0.
   0.        ]] Training transformed data

[[ 0.66533631  0.46422584  0.46724292 ...  0.          0.
   0.        ]
 [ 0.53940464  0.31200577  0.23279806 ...  0.          0.
   0.        ]
 [ 0.2875413   0.36274579  1.28779993 ...  0.          0.
   0.        ]
 ...
 [ 0.91719966  1.02236608  1.05335507 ...  0.          0.
   0.        ]
 [-0.55200317 -0.34761451 -0.0016468  ...  0.          0.
   0.        ]
 [ 0.03567796 -0.24613447 -0.35331409 ...  0.          0.
   0.        ]] Testing transformed data