<a href="https://colab.research.google.com/github/xkaycc/SALES-PREDICTION/blob/main/Survive_pandas_crt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
filename= '/content/titanic (2).csv'

In [3]:
df= pd.read_csv('/content/titanic (2).csv')

In [4]:
df.head ()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df ['Survived'].mean()

0.3838383838383838

# correction

In [6]:
# average age of male and female that did not survive
df.groupby(['Survived', 'Sex'])['Age'].mean()

Survived  Sex
0         female    25.046875
          male      31.618056
1         female    28.847716
          male      27.276022
Name: Age, dtype: float64

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
# number of males and females that survived
df.groupby('Sex')['Survived'].sum()

Sex
female    233
male      109
Name: Survived, dtype: int64

In [15]:
df_filter = df[df['Fare']< 10]
df_filter['Survived'].value_counts(normalize = True)

0    0.800595
1    0.199405
Name: Survived, dtype: float64

In [ ]:
zero_Survived=df[df['Survived'] ==0 ]
zero_Survived['Age'] . mean()

30.62617924528302

In [ ]:
Did_Survived =df[df['Survived']==1]
Did_Survived['Age']. mean()

28.343689655172415

In [ ]:
zero_Survived.groupby('Sex')['Age'].mean()

Sex
female    25.046875
male      31.618056
Name: Age, dtype: float64

In [ ]:
Did_Survived.groupby('Sex')['Age'].mean()

Sex
female    28.847716
male      27.276022
Name: Age, dtype: float64